[submodule "UnityProject/March3D/Assets/Qarth"]
	path = UnityProject/March3D/Assets/Qarth
	url = git@bitbucket.org:webeye-dev/qarth.git
[submodule "UnityProject/March3D/Assets/SDKAdapter"]
	path = UnityProject/March3D/Assets/SDKAdapter
	url = git@bitbucket.org:webeye-dev/sdkadapter.git
