[submodule "UnityProject/March3D/Assets/Qarth"]
	path = UnityProject/March3D/Assets/Qarth
	url = git@bitbucket.org:webeye-dev/qarth.git
[submodule "UnityProject/March3D/Assets/SDKAdapter"]
	path = UnityProject/March3D/Assets/SDKAdapter
	url = git@bitbucket.org:webeye-dev/sdkadapter.git
[submodule "UnityProject/LegendOfPirate/Assets/Qarth"]
	path = UnityProject/LegendOfPirate/Assets/Qarth
	url = https://zhangwei_modooplay@bitbucket.org/webeye-dev/qarth.git
[submodule "UnityProject/LegendOfPirate/Assets/SDKAdapter"]
	path = UnityProject/LegendOfPirate/Assets/SDKAdapter
	url = https://zhangwei_modooplay@bitbucket.org/webeye-dev/sdkadapter.git
