//Auto Generate Don't Edit it
using UnityEngine;
using System;
using System.IO;
using System.Collections;
using System.Collections.Generic;
using Qarth;

namespace GameWish.Game
{
    public static partial class TD{{.ClassName}}Table
    {
        private static TDTableMetaData m_MetaData = new TDTableMetaData(TD{{.ClassName}}Table.Parse, "{{.FileBaseName}}");
        public static TDTableMetaData metaData
        {
            get { return m_MetaData; }
        }
        
        private static Dictionary<{{.KeyType}}, TD{{.ClassName}}> m_DataCache = new Dictionary<{{.KeyType}}, TD{{.ClassName}}>();
        private static List<TD{{.ClassName}}> m_DataList = new List<TD{{.ClassName}} >();
        
        public static void Parse(byte[] fileData)
        {
            m_DataCache.Clear();
            m_DataList.Clear();
            DataStreamReader dataR = new DataStreamReader(fileData);
            int rowCount = dataR.GetRowCount();
            int[] fieldIndex = dataR.GetFieldIndex(TD{{.ClassName}}.GetFieldHeadIndex());
    #if (UNITY_STANDALONE_WIN) || UNITY_EDITOR || UNITY_STANDALONE_OSX
            dataR.CheckFieldMatch(TD{{.ClassName}}.GetFieldHeadIndex(), "{{.ClassName}}Table");
    #endif
            for (int i = 0; i < rowCount; ++i)
            {
                TD{{.ClassName}} memberInstance = new TD{{.ClassName}}();
                memberInstance.ReadRow(dataR, fieldIndex);
                OnAddRow(memberInstance);
                memberInstance.Reset();
                CompleteRowAdd(memberInstance);
            }
            Log.i(string.Format("Parse Success TD{{.ClassName}}"));
        }

        private static void OnAddRow(TD{{.ClassName}} memberInstance)
        {
            {{.KeyType}} key = memberInstance.{{.KeyPropName}};
            if (m_DataCache.ContainsKey(key))
            {
                Log.e(string.Format("Invaild,  TD{{.ClassName}}Table Id already exists {0}", key));
            }
            else
            {
                m_DataCache.Add(key, memberInstance);
                m_DataList.Add(memberInstance);
            }
        }    
        
        public static void Reload(byte[] fileData)
        {
            Parse(fileData);
        }

        public static int count
        {
            get 
            {
                return m_DataCache.Count;
            }
        }

        public static List<TD{{.ClassName}}> dataList
        {
            get 
            {
                return m_DataList;
            }    
        }

        public static TD{{.ClassName}} GetData({{.KeyType}} key)
        {
            if (m_DataCache.ContainsKey(key))
            {
                return m_DataCache[key];
            }
            else
            {
                Log.w(string.Format("Can't find key {0} in TD{{.ClassName}}", key));
                return null;
            }
        }
    }
}//namespace LR